html {
    height: 100%;
    font: 
}
body{
    display: flex;
    background-color: white;
    margin: 0;
    height: 100%;
    
}

/* ШРИФТЫ */

*{
    font-family: 'roboto', sans-serif;
}

/* Главный котейнер */

.main-container { 
    display: flex;
    flex-direction: column;
    flex-grow: 1;
       
}

/* ХЕДЕР */

.logo-header {
     display: flex;    
     background: black; 
     width: calc(100vW); 
}

.logo-image{
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.white-line {
    display: flex;
    height: 40px;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    position: relative;
    background: rgb(255, 255, 255);
    border-bottom: 3px solid rgba(196, 196, 196, 0.842);
    
}

/* Навигация */

.guide {
    display: flex;
    padding: 0;
    margin: 10px 0px;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row;
    font-weight: bold;
}    
.guide li {
    display: block;
    list-style: none;
    color: rgb(0, 0, 0);
}

.guide li:not(:first-child) {
    margin-left: 10px;
}

/* Второй блок сайта: меню и карточки */

.menu-content-container {
    display: flex; 
    flex-grow: 1;
    overflow-y: scroll;
   }

.menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-width: 250px;
    background-color: rgb(250, 4, 217);
}

.content {
    display: flex;
    flex-flow: row wrap;
    padding-left: 1px;
    flex-grow: 1;
    background-color: yellow;
    justify-content: space-evenly;
    overflow-x: hidden;
}

/* КАРТОЧКИ */

.card-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 360px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgba(7, 4, 4, 0.411);

}

.item-img {
    align-self: center;
    border: 3px solid rgb(250, 4, 217);
    max-width: 80%;
    height: auto;
    
}

.item-name{
    font-weight: bold ;
    text-transform: uppercase;     
}

.item-price{
    text-transform: uppercase;
    font-weight: bold
}
.item-gen{
    font-weight: lighter ;
    font-size: smaller;    ;
    text-transform: capitalize ; 
}

