body{
    background-color: white;
    margin: 0;
}
.main_flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.logo-header {
     display: flex;    
     background: black;
    
}
h1 {
    display: flex;
    font-size: 2em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    position: relative;
    background: rgb(255, 255, 255);
    border-bottom: 2px solid rgba(223, 223, 223, 0.87);
    
}
    
h1:before, h1:after {
    content: "";
    position: absolute;
    background: rgb(255, 255, 255);  
    top: 0;
    bottom: 0;
    width: 9999px;  
    
}
    


/* #content {
	float: right;
	width: 90%;
}
#navbar {
	float: left;
	width: 10%;
} */

/* .flex-container {
    padding: 0;
    margin: 1;
    list-style: none;
    /* border: 1px solid silver; */
    /* -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    justify-content: flex-start;
}
.flex-item {
    padding: 1px;
}

.nowrap  { 
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
#content {
    padding: 0;
    background-color:#000000;
    border: 1px solid #a2a9b1;
    width: 300px;
    float: right;
    color: white;
}

#navbar {
    font-size: 18px;
    float: left;
    color: white;
} */ */